doctype html
html
  head
    link(rel='stylesheet', href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\css\\info_page.css')
  body
    ul
      li
        a(href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\index.html')
          | &Rcy;&ycy;&bcy;&ycy; &Dcy;&acy;&lcy;&softcy;&ncy;&iecy;&gcy;&ocy; &vcy;&ocy;&scy;&tcy;&ocy;&kcy;&acy;
          br
      li
        a(href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\Halibut_black.html') &Pcy;&acy;&lcy;&tcy;&ucy;&scy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy;
      li
        a(href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\table.html') &Scy;&pcy;&icy;&scy;&ocy;&kcy; &rcy;&ycy;&bcy; &Dcy;&acy;&lcy;&softcy;&ncy;&iecy;&gcy;&ocy; &vcy;&ocy;&scy;&tcy;&ocy;&kcy;&acy;
    hr
    p.name &Pcy;&acy;&lcy;&tcy;&ucy;&scy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy;
    .picture
      img(src='https://fest.denisburkin.ru/storage/avatars/121.png')
    div
      p
        | &CHcy;&iocy;&rcy;&ncy;&ycy;&jcy; &pcy;&acy;&lcy;&tcy;&ucy;&scy;, &icy;&lcy;&icy; &scy;&icy;&ncy;&iecy;&kcy;&ocy;&rcy;&ycy;&jcy; &pcy;&acy;&lcy;&tcy;&ucy;&scy; (&lcy;&acy;&tcy;. Reinhardtius hippoglossoides) &mdash; &vcy;&icy;&dcy; &lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy; &rcy;&ycy;&bcy; &icy;&zcy; &scy;&iecy;&mcy;&iecy;&jcy;&scy;&tcy;&vcy;&acy; &kcy;&acy;&mcy;&bcy;&acy;&lcy;&ocy;&vcy;&ycy;&khcy;,
        | &iecy;&dcy;&icy;&ncy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &vcy; &ocy;&dcy;&ncy;&ocy;&icy;&mcy;&iocy;&ncy;&ncy;&ocy;&mcy; &rcy;&ocy;&dcy;&iecy; (Reinhardtius).
    div
      p
        | &Pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&iecy;&lcy;&icy; &vcy;&icy;&dcy;&acy; &rcy;&acy;&scy;&pcy;&rcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&iecy;&ncy;&ycy; &vcy; &scy;&iecy;&vcy;&iecy;&rcy;&ncy;&ycy;&khcy; &chcy;&acy;&scy;&tcy;&yacy;&khcy; &Acy;&tcy;&lcy;&acy;&ncy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &icy; &Tcy;&icy;&khcy;&ocy;&gcy;&ocy; &ocy;&kcy;&iecy;&acy;&ncy;&ocy;&vcy; &icy; &vcy; &mcy;&ocy;&rcy;&yacy;&khcy; &Scy;&iecy;&vcy;&iecy;&rcy;&ncy;&ocy;&gcy;&ocy; &Lcy;&iecy;&dcy;&ocy;&vcy;&icy;&tcy;&ocy;&gcy;&ocy; &ocy;&kcy;&iecy;&acy;&ncy;&acy;.
        | &Mcy;&ocy;&rcy;&scy;&kcy;&icy;&iecy; &bcy;&iecy;&ncy;&tcy;&ocy;&pcy;&iecy;&lcy;&acy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &rcy;&ycy;&bcy;&ycy;.
        | &Ocy;&bcy;&icy;&tcy;&acy;&yucy;&tcy; &ncy;&acy; &gcy;&lcy;&ucy;&bcy;&icy;&ncy;&acy;&khcy; &ocy;&tcy; 10 &dcy;&ocy; 2000 &mcy;. &KHcy;&icy;&shchcy;&ncy;&icy;&kcy;&icy;; &pcy;&icy;&tcy;&acy;&yucy;&tcy;&scy;&yacy; &rcy;&ycy;&bcy;&acy;&mcy;&icy;, &gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&ncy;&ocy;&gcy;&icy;&mcy;&icy; &icy; &rcy;&acy;&kcy;&ocy;&ocy;&bcy;&rcy;&acy;&zcy;&ncy;&ycy;&mcy;&icy;.
        | &Mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &dcy;&lcy;&icy;&ncy;&acy; &tcy;&iecy;&lcy;&acy; 130 &scy;&mcy;.
        | &TScy;&iecy;&ncy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&mcy;&ycy;&scy;&lcy;&ocy;&vcy;&acy;&yacy; &rcy;&ycy;&bcy;&acy;, &mcy;&icy;&rcy;&ocy;&vcy;&ycy;&iecy; &ucy;&lcy;&ocy;&vcy;&ycy; &vcy; 2010-&khcy; &gcy;&ocy;&dcy;&acy;&khcy; &pcy;&rcy;&iecy;&vcy;&ycy;&shcy;&acy;&lcy;&icy; 100 &tcy;&ycy;&scy;&yacy;&chcy; &tcy;&ocy;&ncy;&ncy;.
    hr