doctype html
html
  head
    link(rel='stylesheet', href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\css\\table_style.css')
  body
    ul
      li
        a(href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\index.html')
          | &Rcy;&ycy;&bcy;&ycy; &Dcy;&acy;&lcy;&softcy;&ncy;&iecy;&gcy;&ocy; &vcy;&ocy;&scy;&tcy;&ocy;&kcy;&acy;
          br
      li
        a(href='C:\\VisualStudioCode_Projects\\PUG_site\\dist\\table.html') &Scy;&pcy;&icy;&scy;&ocy;&kcy; &rcy;&ycy;&bcy; &Dcy;&acy;&lcy;&softcy;&ncy;&iecy;&gcy;&ocy; &vcy;&ocy;&scy;&tcy;&ocy;&kcy;&acy;
    hr
    details
      summary &Gcy;&rcy;&acy;&fcy;&icy;&kcy;
    details
      summary &Fcy;&icy;&lcy;&softcy;&tcy;&rcy;
    details
      summary &Scy;&ocy;&rcy;&tcy;&icy;&rcy;&ocy;&vcy;&kcy;&acy;
    br
    table(cellspacing='0', cellpadding='5')
      tbody
        tr
          td
            b &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;
          td
            b &Dcy;&lcy;&icy;&ncy;&acy; (&scy;&mcy;)
          td
            b &Vcy;&iecy;&scy; (&kcy;&gcy;)
          td
            b &Vcy;&icy;&dcy;
        tr
          td &Kcy;&iecy;&tcy;&acy;
          td 100
          td 15,9
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Gcy;&ocy;&rcy;&bcy;&ucy;&shcy;&acy;
          td 60
          td 2,2
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Fcy;&ocy;&rcy;&iecy;&lcy;&softcy;
          td 100
          td 10
          td Salmo
        tr
          td &Scy;&icy;&mcy;&acy;
          td 70
          td 10
          td &Scy;&icy;&mcy;&acy;
        tr
          td &Ncy;&iecy;&rcy;&kcy;&acy;
          td 80
          td 2,5
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &CHcy;&acy;&vcy;&ycy;&chcy;&acy;
          td 90
          td 10
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Acy;&tcy;&lcy;&acy;&ncy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &lcy;&ocy;&scy;&ocy;&scy;&softcy; (&scy;&iecy;&mcy;&gcy;&acy;)
          td 1,5
          td 43
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Kcy;&icy;&chcy;&ucy;&zhcy;
          td 108
          td 15,2
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Gcy;&ocy;&lcy;&iecy;&tscy;
          td 88
          td 15
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Kcy;&acy;&mcy;&bcy;&acy;&lcy;&acy;
          td 60
          td 7
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Pcy;&acy;&lcy;&tcy;&ucy;&scy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy;
          td 120
          td 44,5
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Mcy;&icy;&ncy;&tcy;&acy;&jcy;
          td 91
          td 5
          td &Pcy;&iecy;&lcy;&acy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy;
        tr
          td &Tcy;&icy;&khcy;&ocy;&ocy;&kcy;&iecy;&acy;&ncy;&scy;&kcy;&acy;&yacy; &tcy;&rcy;&iecy;&scy;&kcy;&acy;
          td 66
          td 10
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ncy;&acy;&vcy;&acy;&gcy;&acy; &dcy;&acy;&lcy;&softcy;&ncy;&iecy;&vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&acy;&yacy;
          td 35
          td 1,2
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Pcy;&acy;&lcy;&tcy;&ucy;&scy; &bcy;&iecy;&lcy;&ocy;&kcy;&ocy;&rcy;&ycy;&jcy; &tcy;&icy;&khcy;&ocy;&ocy;&kcy;&iecy;&acy;&ncy;&scy;&kcy;&icy;&jcy;
          td 90
          td 6
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &KHcy;&acy;&rcy;&icy;&ucy;&scy;
          td 50
          td 5
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &Lcy;&iecy;&ncy;&ocy;&kcy;
          td 70
          td 6
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy; &lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Tcy;&acy;&jcy;&mcy;&iecy;&ncy;&softcy;
          td 200
          td 80
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Kcy;&acy;&lcy;&ucy;&gcy;&acy;
          td 560
          td 1000
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &ZHcy;&iecy;&lcy;&tcy;&ocy;&shchcy;&iecy;&kcy;
          td 200
          td 40
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &ZHcy;&iecy;&lcy;&tcy;&ocy;&pcy;&iecy;&rcy; &mcy;&iecy;&lcy;&kcy;&ocy;&chcy;&iecy;&shcy;&ucy;&jcy;&ncy;&ycy;&jcy;
          td 70
          td 3
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &CHcy;&iecy;&rcy;&ncy;&ycy;&jcy; &lcy;&iecy;&shchcy;
          td 60
          td 4
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &CHcy;&iecy;&rcy;&ncy;&ycy;&jcy; &acy;&mcy;&ucy;&rcy;
          td 120
          td 36
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Scy;&ocy;&mcy; &Scy;&ocy;&lcy;&dcy;&acy;&tcy;&ocy;&vcy;&acy;
          td 400
          td 40
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy; &lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Kcy;&icy;&tcy;&acy;&jcy;&scy;&kcy;&icy;&jcy; &ocy;&kcy;&ucy;&ncy;&softcy; (&acy;&ucy;&khcy;&acy;)
          td 70
          td 8
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &Kcy;&ocy;&scy;&acy;&tcy;&kcy;&acy;-&kcy;&rcy;&ocy;&shcy;&kcy;&acy;
          td 5
          td 0,3
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &Bcy;&iecy;&lcy;&ycy;&jcy; &lcy;&iecy;&shchcy;
          td 82
          td 6
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy; &lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Acy;&mcy;&ucy;&rcy;&scy;&kcy;&icy;&jcy; &ocy;&scy;&iocy;&tcy;&rcy;
          td 100
          td 6
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &Zcy;&mcy;&iecy;&iecy;&gcy;&ocy;&lcy;&ocy;&vcy;
          td 100
          td 10
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &IEcy;&rcy;&shcy;&ocy;&vcy;&acy;&tcy;&kcy;&acy;
          td 20
          td 0,3
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ocy;&scy;&tcy;&rcy;&ocy;&gcy;&ocy;&lcy;&ocy;&vcy;&acy;&yacy; &kcy;&acy;&mcy;&bcy;&acy;&lcy;&acy;
          td 60
          td 7
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Mcy;&ucy;&kcy;&scy;&ucy;&ncy;
          td 90
          td 13,8
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &CHcy;&icy;&rcy;
          td 80
          td 16
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &YAcy;&zcy;&softcy;
          td 53
          td 2,8
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ncy;&iecy;&lcy;&softcy;&mcy;&acy;
          td 130
          td 50
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ocy;&mcy;&ucy;&lcy;&softcy;
          td 64
          td 3
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Pcy;&ycy;&zhcy;&softcy;&yacy;&ncy;
          td 55
          td 2
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Tcy;&ucy;&gcy;&ucy;&ncy;
          td 20
          td 0,9
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &SHCHcy;&ucy;&kcy;&acy;
          td 100
          td 8
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &IEcy;&lcy;&iecy;&tscy;
          td 15
          td 0,8
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ncy;&acy;&lcy;&icy;&mcy;
          td 100
          td 24
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &CHcy;&ucy;&kcy;&ucy;&chcy;&acy;&ncy; &ocy;&bcy;&ycy;&kcy;&ncy;&ocy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy;
          td 30
          td 0,5
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &CHcy;&iecy;&bcy;&acy;&kcy;
          td 35
          td 0,7
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Mcy;&icy;&kcy;&icy;&zhcy;&acy;
          td 40
          td 0,8
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Mcy;&acy;&lcy;&softcy;&mcy;&acy;
          td 75
          td 3,5
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Kcy;&ucy;&ncy;&dcy;&zhcy;&acy;
          td 100
          td 11
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Ncy;&iecy;&jcy;&vcy;&acy;
          td 26
          td 0,154
          td &Pcy;&rcy;&iecy;&scy;&ncy;&ocy;&vcy;&ocy;&dcy;&ncy;&ycy;&khcy;
        tr
          td &Scy;&icy;&gcy;
          td 70
          td 1
          td &Acy;&ncy;&acy;&dcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy;
        tr
          td &Kcy;&ocy;&rcy;&yucy;&shcy;&kcy;&acy;
          td 10
          td 0,06
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;
        tr
          td &Tcy;&rcy;&iecy;&gcy;&ucy;&bcy;
          td 30
          td 0,350
          td &Lcy;&ucy;&chcy;&iecy;&pcy;&iocy;&rcy;&ycy;&khcy;